name: Build Caddy Image

on:
  workflow_dispatch:
  schedule:
    - cron: '18 9 * * 0'  # Weekly on Sundays at 9:18 AM UTC

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  CADDY_VERSION: 2.11
  CLOUDFLARE_VERSION: 0.2.2
  IMAGE_TAG: 2.11-cf-0.2.2

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install Cosign
        shell: bash
        run: ./install-cosign.sh "${{ runner.arch }}" "$RUNNER_TEMP"

      - name: Build container image
        id: build
        uses: redhat-actions/buildah-build@7a95fa7ee0f02d552a32753e7414641a04307056 # v2.13
        with:
          image: ${{ env.IMAGE_NAME }}
          tags: ${{ env.IMAGE_TAG }}
          containerfiles: |
            ./Containerfile
          build-args: |
            CADDY_VERSION=${{ env.CADDY_VERSION }}
            CLOUDFLARE_VERSION=${{ env.CLOUDFLARE_VERSION }}

      - name: Log in to Container Registry
        uses: redhat-actions/podman-login@4934294ad0449894bcd1e9f191899d7292469603 # v1.7
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push to registry
        id: push
        uses: redhat-actions/push-to-registry@5ed88d269cf581ea9ef6dd6806d01562096bee9c # v2.8
        with:
          image: ${{ steps.build.outputs.image }}
          tags: ${{ steps.build.outputs.tags }}
          registry: ${{ env.REGISTRY }}

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@00014ed6ed5efc5b1ab7f7f34a39eb55d41aa4f8 # v3.1.0
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true

      - name: Sign the published OCI image
        if: ${{ github.event_name != 'pull_request' && env.COSIGN_PRIVATE_KEY != '' && env.COSIGN_PASSWORD != '' }}
        env:
          digest: ${{ steps.push.outputs.digest }}
          fully_qualified_image_names_json: ${{ steps.push.outputs.registry-paths }}
          COSIGN_PASSWORD: ${{ secrets.cosign_password }}
          COSIGN_PRIVATE_KEY: ${{ secrets.cosign_private_key }}
        run: >
          echo "${fully_qualified_image_names_json}"
          | jq -r '.[]'
          | xargs -I {} cosign sign --yes --key=env://COSIGN_PRIVATE_KEY "{}@${digest}"
